
.validation {
    color: #e45151; 
    font-size: 13px;
    display: block;  
}

.hide {
    display: none; 
}

.editing-row {
    background-color: #fff3cd !important; 
    border: 2px solid #ffeeba;
    font-weight: bold;
}